DATABASE_URL=postgresql://<username>:<password>@<host>/<database>?sslmode=require

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@example.com
SMTP_PASSWORD=your-password

FRONTEND_URL=http://localhost:4200